* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

html,body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* =============================>> [ MOBILE FIRST LAYOUT ] <<============================= */

body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #000;
}

.wrapper {
    margin: 0 4rem;
}

header .header__navigation {
    width: 100%;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navigation__links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

/* =============================>> [ MAIN ] <<============================= */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content__section {
    display: grid;
    place-items: center;
}

main .content__section img {
    width: 30rem;
}

main .text__section h1 {
    color: #042FF8;
}

main .social__medias {
    display: flex;
    gap: 3rem;
}

main .social__medias a {
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-in;
}

main .social__medias a:nth-child(1):hover {
    background-color: #0e76a8;
    border-color: #0e76a8;
}

main .social__medias a:nth-child(2):hover {
    background-color: #171515;
    border-color: #171515;
}

/* =============================>> [ SECTION ] <<============================= */

section .title-section {
    font-size: 3rem;
}

/* =============================>> [ SECTION ABOUT ] <<============================= */

section.about {
    height: 100vh;
    padding: 10rem 0;
    text-align: center;
    background-color: #111;
}

section.about h2 {
    margin-bottom: 4rem;
}

/* =============================>> [ SECTION PROJECTS ] <<============================= */

section.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
    height: 100vh;
}

section .card {
    width: 30rem;
    height: 20rem;

    font-size: 2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);

    background-color: #0E2A47;
    overflow: hidden;

    position: relative;
}

section .card img {
    transition: all 0.2s ease;
}

section .card img:hover {
    transform-style: preserve-3d;
    transform: scale(1.2);
}

section .card span {
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #3D41C8;
    transition: all .4s ease;
}

section .card span:hover {
    letter-spacing: .5rem;
}

section #project__01 img {
    width: 100%;
    object-fit: cover;
}

footer {
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

footer span {
    color: #042FF8;
}